.header-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header-left {
  order: 0;
  display: flex;
  align-items: end;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

h2, h3 {
  margin: 0;
}

p {
  margin: 0.5em 0 0 0;
}

.header-right {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right a {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  text-decoration: none;
  color: var(--accentcolor-primary);
}

.header-right a:visited {
  color: var(--accentcolor-primary);
}

.header-right i {
  font-size: 60px;
}

.presentation-container {
  width: 75%;
}

.presentation-buttons-container button {
  background-color: var(--accentcolor-primary);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.presentation-buttons-container button:first-child {
  background-color: var(--accentcolor-primary);
}

.presentation-buttons-container button:last-child {
  background-color: var(--mastodon-button);
}

.presentation-buttons-container a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.project {
  background-color: red;
  padding: 0.5rem 0;
  width: 100%;
}
